<div class="company">
  <div class="company__header">
    <img src="/static/missing_picture.webp" alt="Company Image" class="company__image">
    <div class="company__info">
      <h1 class="company__name"></h1>
      <p class="company__rating"></p>
    </div>
  </div>
  <nav class="company__nav">
    <a href="#" data-tab-link data-id="about">About</a>
    <a href="#" data-tab-link data-id="reviews">Reviews <span class="company__reviews"></span></a>
    <a href="#" data-tab-link data-id="jobs">Jobs <span class="company__jobs"></span></a>
  </nav>
  <div id="company-tab-content">
    <!-- Tab content will be dynamically loaded here -->
  </div>
</div>