<div class="home">
  <h2>Welcome to Job Hunt</h2>
  <p class="home__description"></p>
    Explore job opportunities, read reviews, and discover companies to help you in your job hunt journey.
  </p>
  <div class="home__categories">
    <div class="home__category">
      <a href="/jobs" data-link>
        <div class="home__category-icon">💼</div>
        <div class="home__category-title">Jobs</div>
        <div class="home__category-count"></div>
      </a>
    </div>
    <div class="home__category">
      <a href="/reviews" data-link>
        <div class="home__category-icon">📝</div>
        <div class="home__category-title">Reviews</div>
        <div class="home__category-count"></div>
      </a>
    </div>
    <div class="home__category">
      <a href="/companies" data-link>
        <div class="home__category-icon">🏢</div>
        <div class="home__category-title">Companies</div>
        <div class="home__category-count"></div>
      </a>
    </div>
  </div>

</div>